# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
